html(lang="en")
    head
        title= title
        link(rel='stylesheet', type='text/css', href='style/normalize.css')
        link(rel='stylesheet', type='text/css', href='style/font-awesome.css')
        link(rel='stylesheet', type='text/css', href='style/style.css')
    body
        header
            each val in navs
                li= val
        #container
            != contents
        footer